@charset "utf-8";
/* CSS Document */

body{
	margin:1;
}

div.header{
	text-align:center;
	background-color:#00FFCC;
}

div.menu{
	width:30%;
	text-align:left;
	margin-left:auto;
	margin-right:0;
	float:left;
	background-color:#FFFFCC;
}

div.content{
	background-color:#CCFFFF;
}

div.footer{
	clear:left;
}